@model IEnumerable<MercDevs_ej2.Models.Servicio>


@{
    ViewData["Title"] = "Servicios del Cliente";
}

<h1>Servicios del Cliente</h1>

<p>Lista de servicios asociados a este cliente:</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Servicio</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var servicio in Model)
        {
            <tr>
               
                
            </tr>
        }
    </tbody>
</table>
